@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the GC Coffee Shop!</h1>
    <p><a href="/Home/SignUp" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>
